html{
    background-color: #ffffff;
    color: #434343;
}
a{
    text-decoration: none;
    color: #434343;
}
ul{
    list-style : none;
}

header{
    height: 100px;
    width:100%;
}

.logo-img{
display: inline-block;
vertical-align: middle;
width: 100px;
height:100px;
}
.logo{
    display: inline-block;
    height:100px;
   
}
nav{
    display: inline-block;
   
  
    
}
.header-title{
    display: inline-block;
    font-size: 20px;
}

.header-nav li{
  display: inline;  
  text-align: right;
  margin-right:15px;
}

.main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:250px;
    height:250px;
}

.main-content p{
    text-align: center;
    margin: 0 out;

}