html{
    background-color: #ffffff;
    color: #434343;
}
a{
    text-decoration: none;
    color: #434343;
}
ul{
    list-style : none;
}

header{
    height: 100px;
    width:100%;
}

.logo-img{
display: inline-block;
vertical-align: middle;
width: 100px;
height:100px;
}
.logo{
    display: inline-block;
    height:100px;
   
}
nav{
    display: inline-block;
   
  
    
}
.header-title{
    display: inline-block;
    font-size: 20px;
}

.header-nav li{
  display: inline;  
  text-align: right;
  margin-right:15px;
}

.main-page{
    margin-top:100px;
}

.main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:250px;
    height:250px;
    object-fit: cover;
}

.main-content p{
    text-align: center;
    margin: 0 out;

}

.main1-history{
    display:inline-block;

}

.history1-img{
    display: inline-block;
    vertical-align: middle;
    width:300px;
    height:300px;
    object-fit: cover;

}

main-history h2{
    display:inline-block;
   margin-left:40px;
}

.history1-text {
    display:inline-block;
    align-items: center; 
    
}

  .history2-img{
    display: inline-block;
    vertical-align: middle;
    width:300px;
    height:300px;
    object-fit: cover;
  }
  .history2-text{
    display:inline-block;
    align-items: center; 
  }

  .v_line_fix {
    margin-left: 150px;
    
    width: 3px;
    height: 150px;
    background-color:#5dac81;

  }
  .history3-img{
    display: inline-block;
    vertical-align: middle;
    width:300px;
    height:300px;
    object-fit: cover;
  }
  .history3-text{
    display:inline-block;
    align-items: center; 
  }
  .history4-img{
    display: inline-block;
    vertical-align: middle;
    width:300px;
    height:300px;
    object-fit: cover;
  }
  .history4-text{
    display:inline-block;
    align-items: center; 
  }

  .history5-img{
    display: inline-block;
    vertical-align: middle;
    width:300px;
    height:300px;
    object-fit: cover;
  }
  .history5-text{
    display:inline-block;
    align-items: center; 
  }

  .history6-img{
    display: inline-block;
    vertical-align: middle;
    width:300px;
    height:300px;
    object-fit: cover;
  }
  .history6-text{
    display:inline-block;
    align-items: center; 
  }

  .contact{
    text-align: center;
    margin-top: 50px;
  }

  .github-icon {
    font-size: 35px;
    margin-right: 45px;
  }
  .mail-icon{
    font-size:35px;
  }